<% content_for :employee_assistants do %>
  <% if params[:id].present? %>
    <ul class="tree">
      <li class="node" id="node_<%= @employee.id %>">
        <p class="m-0 d-inline-block" id="empl_<%= @employee.id %>" onclick="sendRequest(<%= @employee.id %>)">
          <i class="fas fa-minus"></i>
        </p>
        <p class="m-0 d-inline-block"><%= @employee.name %></p>
        <% if @assistants.present? && @assistants.size > 0 %>
          <% @assistants.each do |a| %>
            <ul class="tree" id="node_<%= a.id %>">
              <li class="node" id="node_<%= a.id %>">
                <p class="m-0 d-inline-block" id="empl_<%= a.id %>" onclick="sendRequest(<%=a.id %>)">
                  <i class="fas fa-plus"></i></p>
                <p class="m-0 d-inline-block"><%= a.name %></p>
              </li>
            </ul>
            <%#= link_to a.name, remote: true, action: 'showAssistants'%>
          <% end %>
          <%# else %>
          <!--          <div class="card border-info my-3">-->
          <!--            <div class="card-body text-info">-->
          <!--              <p class="card-text">У данного сотрудника нет подчиненных</p>-->
          <!--            </div>-->
          <!--          </div>-->
        <% end %>
      </li>
    </ul>
  <% elsif @emplArray.size > 0 %>
    <% @emplArray.each do |empl| %>
      <ul class="tree" id="node_<%= empl.id %>">
        <li class="node" id="node_<%= empl.id %>">
          <p class="m-0 d-inline-block" id="empl_<%= empl.id %>" onclick="sendRequest(<%=empl.id %>)">
            <i class="fas fa-plus"></i></p>
          <p class="m-0 d-inline-block"><%= empl.name %></p>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>


<% content_for :employees_list do %>
  <% if @employees %>
    <div class="card list">
      <div class="card-header">
        <h6 class="my-1">Выберите сотрудника из списка ниже:</h6>
      </div>
      <ul class="list-group list-group-flush">
        <% @employees.each do |empl| %>
          <li class="list-group-item<%= params[:id].to_i == empl.id ? ' active' : '' %>">
            <a class="mb-0 small text-muted d-block" href="/employees/<%= empl.id %>">
              <strong id="<%= empl.id %>" class="d-block text-gray-dark"><%= empl.name %></strong>
              <span>ID сотрудника в базе - <%= empl.id %>;</span>
              <br>
              <span>ИД босса - <%= empl.boss_id %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="card-body">
      <p class="text-muted text-center m-0">Сотрудники не найдены</p>
    </div>
  <% end %>
<% end %>
